@charset "UTF 8";
@font-face {
    font-family: 'cordel';
    src: url('xilosa_.ttf') format('opentype') ;
    font-weight: normal;
}

*{
    padding: 0px;
    margin: 0px;
}
html, body{
    min-height: 100vh;
}
header{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 30px;
}
header h1{
    font-size: 90px;
    font-family: 'cordel';
    font-variant: small-caps;
}
header p a{
    font-weight: bolder;
    color: white;
}
header p{
    padding-top: 5px;
    font-size: 15px;
    padding-bottom: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
/*meio*/
section{
    font-size: 30px;
    font-family: 'cordel';
    line-height: 50px;
    padding-left: 50px;
}

section.img p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.505);
    color: white;
    
}
section#img1 p{
    padding: 10px;
    margin-top: 40px;
    border-radius: 10px;
    text-shadow: -3px 1px 0px black;
}
section#img2 p{
    padding: 10px;
    margin-top: 40px;
    border-radius: 10px;
    text-shadow: -3px 1px 0px black;
}
section p{
    padding-top: 2em;
    padding-bottom: 2em
}
#img1{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
    height: 75vh;
    box-shadow: inset 2px 4px 7px 0px rgba(0, 0, 0, 0.291);
}
#img2{
    background-image: url(imagens/background002.jpg);
    background-position: right bottom;
    background-attachment: fixed;
    background-size: cover;
    height: 75vh;
    box-shadow: inset 2px 4px 7px 0px rgba(0, 0, 0, 0.291);
}
footer{
    background-color: black;
    color: white;
    height: 15px;
    text-align: center;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}
footer a{
    color: white;
    font-weight: bolder; 
}
footer a::before{
    content: "\0040";
}